body {
    background-image: url('https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(97, 169, 217, 0.36), rgba(177, 217, 223, 0.245));
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
  }
  
  #header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  #input {
    background-color: #FFF;
    border-radius: 20px;
    border: 3px solid #497174;
    padding: 15px;
    font-size: 20px;
  }
  
  #input:focus {
    background-color: #fff;
  }
  
  #when-where {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #city {
    color: #263159;
    font-size: 45px;
    font-weight: bold;
  }
  
  #date {
    color: #263159;
    font-size: 24px;
    font-weight: bold;
  }
  
  #now {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  #temperature {
    color: #FFF;
    font-size: 110px;
    font-weight: bold;
    text-shadow: 5px 10px #263159;
    margin: 0;
  }
  
  #feelsLike {
    color: #263159;
    font-size: 30px;
    font-weight: bold;
  }
  
  #conditions {
    color: #263159;
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
  }
  
  #variation {
    color: #263159;
    font-size: 26px;
    font-weight: bold;
  }
  